<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="uid" value="admin"/>
    <add key="pwd" value="ulKPAastZwg="/>
    <add key="tenantId" value="1"/>
    <add key="baseUrl" value="http://10.130.44.18:99"/>
    <add key="mailFrom" value="SMT_AC@arcadyan.com.cn"/>
    <add key="mailTo" value="LH_hui@arcadyan.com.cn"/>
    <add key="mailCC" value="SMT_AC@arcadyan.com.cn"/>
    <add key="mailHost" value="cncnotes/CNC"/>
    <add key="mailPort" value="25"/>
  </appSettings>
</configuration>